#homeBody
{
    margin: 2% 10% 0% 10%;
    padding: 2%;
    /* border: 1px solid black; */
    max-width: 100%;
    max-height: auto;
}
button{
    margin: 5% 2% 5% 2%;
    /* margin-top: 0; */
}
.example-card{
    border-radius: 15px;
}

.card-content
{
    padding: 5%;
}
.example-full-width {
    width: 80%;
}

#topSection
{
    width: 100%;
    margin-bottom: 2%;
    /* border: 1px solid red; */
 
}


#trending-card {
    height: 80%;
    padding: 3% 2% 2% 2%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}
#categoryCard{
    padding: 3% 2% 2% 2%;
    height: 88%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottomSection
{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}
#recentPost{
    height: 70%;
    padding:10%;
    display: grid;
    justify-content: center;
    align-items: center ;
}
#latestMovie{
    height: 55%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#userCard{
    height: 90%;
   margin: 5%;
    width: 80%; 
    display: flex;
}
#userStatistics
{
    display: flex;
    padding: 3%;
}

#searchBox{
    height: 55%;
    width: 70%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls{
    margin: 0;
    /* border: 1px solid black; */
    /* margin-bottom: 50%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigator
{
    position: absolute;
    display:flex;
    padding: 5%;
    margin-top: 0;
    margin-bottom: 55%;
}

#topicNavigator
{
    /* border: 1px solid red; */
    /* position: absolute; */
    /* width: auto;  */
    display: flex;  
    margin-top: 20%;
    height: 50%;
} 
#topicNavigatorCard
{
    /* display: flex;
    height: 50%;
    width: 100%; */

}
.btnNaviagte{
    /* padding: 1%; */
    background-color: #E7EAEF;
    color: black;
}