<section id="homeBody">
  <mat-grid-list cols="3" rowHeight="300px" class="topSection" >
    <mat-grid-tile class="" [colspan]="2" [rowspan]="1">
      <mat-card id="trending-card" class="example-card">
        <mat-card-title-group>
          <img id="card-image" mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
        <mat-card-content>
          <div class="card-content">
            <mat-card-title>Green plants are going to extinct about 500 times faster than they should, Study finds</mat-card-title>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Explicabo, culpa magni, consequatur eius vero quae inventore, ad exercitationem laboriosam molestiae iure
            aperiam aut praesentium id.
            Eligendi quo pariatur incidunt minus.
            <mat-divider [inset]="true"></mat-divider> <br>
            <mat-card-subtitle>
              <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg">
              <p>Alexander Pakinson</p>
            </mat-card-subtitle>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card id="categoryCard" class="example-card">
        <mat-card-content class="content">
          <div>
            <button mat-raised-button><mat-icon> cloud </mat-icon>
                Global
            </button>
        </div>
          <div>
            <button mat-raised-button color="primary"> <mat-icon> folder </mat-icon>
            Business
            </button>
          </div>
          <div>
            <button mat-raised-button color="accent"><mat-icon> desktop_mac </mat-icon>
            Entertainment</button>
          </div>
          <div>
            <button mat-raised-button color="warn"><mat-icon> atm </mat-icon>
                Sports</button>
          </div>
          <div>
            <button mat-raised-button disabled><mat-icon> directions_run </mat-icon>
                Helath</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider [inset]="true"></mat-divider>
  <mat-grid-list cols="4" rowHeight="300px"  id="bottomSection">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card id="recentPost" class="ed"xample-car>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card id="searchBox" class="example-card">
        <mat-card-title-group>
          <mat-card-title>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Search for movies</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
              <mat-icon>search</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip>One fish</mat-chip>
              <mat-chip>Two fish</mat-chip>
              <mat-chip color="primary" selected>Primary fish</mat-chip>
              <mat-chip color="accent" selected>Accent fish</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card id="latestMovie" class="example-card">
            <mat-card-title-group>
              <img id="card-image" mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card-title-group>
            <mat-card-content>
              <div class="card-content">
                <mat-card-title id="card-title">An Insiring Short Film</mat-card-title>
                <mat-card-subtitle id="card-title">
                  <mat-icon style="font-size: 16px;">visibility</mat-icon> 
                  <span style="font-size: 21px;">80,989</span>
                </mat-card-subtitle>
              </div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card id="userCard" class="example-card">
          <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content class="card-content">
          <div>
            <mat-card-title id="card-title">John Doe</mat-card-title>
            <mat-card-subtitle id="card-title">Senior Journalist</mat-card-subtitle>
          </div>
          <div>
             <ul>
              <li>Articles</li>
             </ul>
          </div>
        </mat-card-content>
        <mat-grid-tile-footer>
            <button mat-raised-button>
              View Profile
            </button>
            <button mat-raised-button color="primary">
              Logout
            </button>
        </mat-grid-tile-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="controls">
        <mat-card id="navigator" class="example-card">
          <button id="btn1" mat-fab color="primary">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button id="btn2" mat-fab color="primary">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card>
        <mat-card id="topicNavigator" class="example-class">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
