#homeBody
{
    padding: 5% 5%;
    border: 1px solid black;
    max-width: 100%;
    max-height: auto;
}
.features
{
    /* margin-top: 0;  */
    /* padding: 5%; */
    max-width: 100%;
}

.topSection
{
    padding: 1%;
    /* border: 1px solid red; */
   
}

.bottomSection
{
    margin-bottom: 0;
    
    /* border: 1px solid blue; */
}
.trending-card {
    max-width: 80%;
    margin-bottom: 0;
    display: flex;
}
/* .card-image{
    width: 200px;
} */
.example-card{
    border-radius: 10px;
}

.card-content
{
    /* border: 1px solid black; */
    padding: 5%;
}
.example-full-width {
    width: 80%;
}

  